@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.all-slides {
    display: flex;
    min-width: 100%;
    margin: 0 auto;
    perspective: 500px;
    height: 500px;
}

.single-slide {
    color: #dfddda;
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: start;
    width: 100%;
    position: absolute;
    background-color: white;
    font-size: xx-large;
    transition: 2s ease;
    box-shadow: 0px 5px 10px #2b2b43;
}

.cart-container {
    height: 80vh;
}

.cart-rows-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-height: 90%;
    min-height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-checkout {
    align-self: end;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.product-card {
    width: 150px;
    height: 150px;
    border: black 2px;
    border-style: solid;
    margin: 1px;
}

.qr-code-image {
    width: 40vw;
}

.l-row-price {
    display: flex;
    margin-right: 15px;
    margin-bottom: 3px;
}

.l-row-name {
    display: flex;
    margin-left: 15px;
    margin-bottom: 3px;
}
.l-row-content {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #1e1919;
}

.board-main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: #8f6230;
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 32px;
    padding-top: 17px;
}

.pos-foot {
    height: 5vh;
}


.pos-body {
    max-height: 85vh;
}


.pos-head {
    height: 45px;
}

.cart-delete {
    transform: scale(0.5) translateY(-30%);
}

.cart-row {
    margin-top: -5px;
    /*margin-bottom: -6px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}


.cart-row-actions {

}

.cart-row-name {

}
.cart-row-name-product {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cart-buttons {
    width: 100%;
}


.product-card-name {
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.interact-btn {
    cursor: pointer;
}