@page "/{id}/board"
@inherits LeaderboardBase
<div class="board-main">
    <div class="all-slides">
        @if (Model?.LeaderboardRows != null)
        {
            @foreach (var row in Model.LeaderboardRows)
            {
                <LeaderboardRow RowModel="row"/>
            }
        }
    </div>
</div>

<style>
    @if (Model?.LeaderboardRows != null)
    {
         @foreach (var r in Model.LeaderboardRows)
         {
             @($@".single-slide[data-order=""{@r.Order}""] {{top: {(((r.Order * 55) + 10).ToString())}px;z-index: 3;}}")
         }
    }
</style>

@code {
 
    private void Test()
    {
        var s = posState;
    }
}
