@page "/{id}/board"
@inherits LeaderboardBase

<div class="board-main">
    @if (TerminalName != null)
    {
        <h1>Terminal @TerminalName</h1>
    }
    <div class="all-slides" id="board">
        @if (Model?.LeaderboardRows != null)
        {
            @foreach (var row in Model.LeaderboardRows)
            {
                <LeaderboardRow RowModel="row" />
            }
        }
    </div>
</div>

<style>
    @if (Model?.LeaderboardRows != null)
    {
         @foreach (var r in Model.LeaderboardRows)
         {
             @($@".single-slide[data-order=""{@r.Order}""] {{top: {(((r.Order * 55) + 10).ToString())}px;z-index: 3;}}")
         }
    }
</style>

@code {


}
